{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose":false,
                "modules":false,
                "corejs": 2,
                "useBuiltIns":"usage"
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",{
            "corejs":2
        }]
    ]
}
